<a href="https://colab.research.google.com/github/sarang2lee/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EA%B3%BC%EC%A0%9C%202025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [과제명 B] 서울시 열린데이터광장 데이터 사용
서울시 에코마일리지 에너지사용량 통계정보 Open API

In [53]:
from typing_extensions import dataclass_transform
import requests
# import time

## 데이터 수집 url 및 api key 설정
api_key = '576b4c42477361723536746d4a766d' # Replace with your actual API key
service = "energyUseDataSummaryInfo"

downloads = []

# API 호출 성공/실패 출력
url = f'http://openapi.seoul.go.kr:8088/{api_key}/json/{service}/{1}/{1000}/2024/{12}'
response = requests.get(url)

if response.status_code == 200:
    print('API 호출에 성공했습니다')
    print(response.json())
    print()
else:
    print(f'API 호출 실패: {response.status_code}')
    print()

for year in range(2015, 2025):
    for month in range(1,13):
        url = f'http://openapi.seoul.go.kr:8088/{api_key}/json/{service}/{1}/{1000}/{year}/{month:02d}'
        response = requests.get(url)

        data = response.json()
        rows = data.get(service, {}).get('row', [])
        # 개인(PERSONAL) 유형만 필터링
        personal_rows = [row for row in rows if row.get("DIV_NM") == "개인"]
        downloads.extend(rows)
        print(f'{year}년 {month:2d}월: {len(rows)} 건 다운로드')

        time.sleep(0.002)

API 호출에 성공했습니다
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2024', 'MON': '12', 'MM_TYPE': '공동주택관리소', 'CNT': '3716', 'EUS': '548480228', 'EUS1': '557799290', 'EUS2': '559693904', 'ECO2_1': '-10266369', 'ECO2_2': '-10266369', 'GUS': '8221238', 'GUS1': '9759209', 'GUS2': '9093999', 'GCO2_1': '-1114991.5', 'GCO2_2': '-2229983', 'WUS': '20262147.7', 'WUS1': '20228097.5', 'WUS2': '20488646.8', 'WCO2_1': '-96224.45', 'WCO2_2': '-288673.35', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '기업', 'CNT': '19451', 'EUS': '633735769', 'EUS1': '641412053', 'EUS2': '669494932', 'ECO2_1': '-21717723.5', 'ECO2_2': '-21717723.5', 'GUS': '30096486', 'GUS1': '45742965', 'GUS2': '34384677', 'GCO2_1': '-9960022.5', 'GCO2_2': '-19920045', 'WUS': '4448777.4', 'WUS1': '4406465.4', 'WUS2': '4396396.4', 'WCO2_1': '47346.5', 'WCO2_2': '142039.5', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '개인', 'CNT': '1250620', 'EUS': '134828126', 'EUS1': '138280636', 'EUS2': '138879530', 'ECO2_1': '-3751957', 'ECO2_2': '-3504709', 'GUS': '42103424', 'GUS1': '47763373', 'GUS2': '46794290', 'GCO2_1': '-5135298', 'GCO2_2': '-10270596', 'WUS': '7326853.6', 'WUS1': '7440605', 'WUS2': '7625718.9', 'WCO2_1': '-206308.35', 'WCO2_2': '-573725.128', 'HUS': '1513199.277', 'HUS1': '1598857.184', 'HUS2': '1781397.386', 'HCO2_1': '-176928.008', 'HCO2_2': '-376996.699240516', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '공공기관', 'CNT': '2459', 'EUS': '152992881', 'EUS1': '161100765', 'EUS2': '162060905', 'ECO2_1': '-8587954', 'ECO2_2': '-8587954', 'GUS': '3814815', 'GUS1': '4485938', 'GUS2': '4347791', 'GCO2_1': '-601856', 'GCO2_2': '-1203712', 'WUS': '896842', 'WUS1': '854671.2', 'WUS2': '833317.4', 'WCO2_1': '52847.7', 'WCO2_2': '158543.1', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '학교', 'CNT': '6742', 'EUS': '164092999', 'EUS1': '170867152', 'EUS2': '169660376', 'ECO2_1': '-6170678', 'ECO2_2': '-6172770.32', 'GUS': '4362563', 'GUS1': '4794450', 'GUS2': '4840884', 'GCO2_1': '-452916.5', 'GCO2_2': '-905833', 'WUS': '1858841', 'WUS1': '1898794', 'WUS2': '1939698.4', 'WCO2_1': '-60405.2', 'WCO2_2': '-181607.796', 'HUS': '1062.62', 'HUS1': '902.03', 'HUS2': '1220.91', 'HCO2_1': '1.15', 'HCO2_2': '3.3315', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '소상공인', 'CNT': '53031', 'EUS': '101773064', 'EUS1': '105830842', 'EUS2': '106996097', 'ECO2_1': '-4640405.5', 'ECO2_2': '-4640315.356', 'GUS': '2544825', 'GUS1': '2719970', 'GUS2': '2842004', 'GCO2_1': '-234683', 'GCO2_2': '-469366', 'WUS': '1560686.6', 'WUS1': '1540086.6', 'WUS2': '1542971', 'WCO2_1': '19157.8', 'WCO2_2': '57349.338', 'HUS': '360', 'HUS1': '395', 'HUS2': '470', 'HCO2_1': '-72.5', 'HCO2_2': '-288.695', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '종교단체', 'CNT': '847', 'EUS': '7922631', 'EUS1': '8361049', 'EUS2': '8016890', 'ECO2_1': '-266338.5', 'ECO2_2': '-266338.5', 'GUS': '309429', 'GUS1': '378759', 'GUS2': '355715', 'GCO2_1': '-57056.5', 'GCO2_2': '-114113', 'WUS': '51695', 'WUS1': '48661', 'WUS2': '48241', 'WCO2_1': '3244', 'WCO2_2': '9732', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-03-01 04:02:55.0'}]}}

2015년  1월: 7 건 다운로드
2015년  2월: 7 건 다운로드
2015년  3월: 7 건 다운로드
2015년  4월: 7 건 다운로드
2015년  5월: 7 건 다운로드
2015년  6월: 7 건 다운로드
2015년  7월: 7 건 다운로드
2015년  8월: 7 건 다운로드
2015년  9월: 7 건 다운로드
2015년 10월: 7 건 다운로드
2015년 11월: 7 건 다운로드
2015년 12월: 7 건 다운로드
2016년  1월: 7 건 다운로드
2016년  2월: 7 건 다운로드
2016년  3월: 7 건 다운로드
2016년  4월: 7 건 다운로드
2016년  5월: 7 건 다운로드
2016년  6월: 7 건 다운로드
2016년  7월: 7 건 다운로드
2016년  8월: 7 건 다운로드
2016년  9월: 7 건 다운로드
2016년 10월: 7 건 다운로드
2016년 11월: 7 건 다운로드
2016년 12월: 7 건 다운로드
2017년  1월: 7 건 다운로드
2017년  2월: 7 건 다운로드
2017년  3월: 7 건 다운로드
2017년  4월: 7 건 다운로드
2017년  5월: 7 건 다운로드
2017년  6월: 7 건 다운로드
2017년  7월: 7 건 다운로드
2017년  8월: 7 건 다운로드
2017년  9월: 7 건 다운로드
2017년 10월: 7 건 다운로드
2017년 11월: 7 건 다운로드
2017년 12월: 7 건 다운로드
2018년  1월: 7 건 다운로드
2018년  2월: 7 건 다운로드
2018년  3월: 7 건 다운로드
2018년  4월: 7 건 다운로드
2018년  5월: 7 건 다운로드
2018년  6월: 7 건 다운로드
2018년  7월: 7 건 다운로드
2018년  8월: 7 건 다운로드
2018년  9월: 7 건 다운로드
2018년 10월: 7 건 다운로드
2018년 11월: 7 건 다운로드
2018년 12월: 7 건 다운로드
2019년  1월: 7 건 다운로드
2019년  2월: 7 건 다운로드
2019년  3월: 7 건 다운로드
2019년  4월: 7 건 다운로드
2019년  5월: 7 건 다운로드
2019년  6월: 7 건 다운로드
2019년  7월: 7 건 다운로드
2019년  8월: 7 건 다운로드
2019년  9월: 7 건 다운로드
2019년 10월: 7 건 다운로드
2019년 11월: 7 건 다운로드
2019년 12월: 7 건 다운로드
2020년  1월: 7 건 다운로드
2020년  2월: 7 건 다운로드
2020년  3월: 7 건 다운로드
2020년  4월: 7 건 다운로드
2020년  5월: 7 건 다운로드
2020년  6월: 7 건 다운로드
2020년  7월: 7 건 다운로드
2020년  8월: 7 건 다운로드
2020년  9월: 7 건 다운로드
2020년 10월: 7 건 다운로드
2020년 11월: 7 건 다운로드
2020년 12월: 7 건 다운로드
2021년  1월: 7 건 다운로드
2021년  2월: 7 건 다운로드
2021년  3월: 7 건 다운로드
2021년  4월: 7 건 다운로드
2021년  5월: 7 건 다운로드
2021년  6월: 7 건 다운로드
2021년  7월: 7 건 다운로드
2021년  8월: 7 건 다운로드
2021년  9월: 7 건 다운로드
2021년 10월: 7 건 다운로드
2021년 11월: 7 건 다운로드
2021년 12월: 7 건 다운로드
2022년  1월: 7 건 다운로드
2022년  2월: 7 건 다운로드
2022년  3월: 7 건 다운로드
2022년  4월: 7 건 다운로드
2022년  5월: 7 건 다운로드
2022년  6월: 7 건 다운로드
2022년  7월: 7 건 다운로드
2022년  8월: 7 건 다운로드
2022년  9월: 7 건 다운로드
2022년 10월: 7 건 다운로드
2022년 11월: 7 건 다운로드
2022년 12월: 7 건 다운로드
2023년  1월: 7 건 다운로드
2023년  2월: 7 건 다운로드
2023년  3월: 7 건 다운로드
2023년  4월: 7 건 다운로드
2023년  5월: 7 건 다운로드
2023년  6월: 7 건 다운로드
2023년  7월: 7 건 다운로드
2023년  8월: 7 건 다운로드
2023년  9월: 7 건 다운로드
2023년 10월: 7 건 다운로드
2023년 11월: 7 건 다운로드
2023년 12월: 7 건 다운로드
2024년  1월: 7 건 다운로드
2024년  2월: 7 건 다운로드
2024년  3월: 7 건 다운로드
2024년  4월: 7 건 다운로드
2024년  5월: 7 건 다운로드
2024년  6월: 7 건 다운로드
2024년  7월: 7 건 다운로드
2024년  8월: 7 건 다운로드
2024년  9월: 7 건 다운로드
2024년 10월: 7 건 다운로드
2024년 11월: 7 건 다운로드
2024년 12월: 7 건 다운로드

In [54]:
import pandas as pd
df = pd.DataFrame(downloads)
print(df.tail(3))

     YEAR MON MM_TYPE    CNT        EUS       EUS1       EUS2      ECO2_1  \
837  2024  12      학교   6742  164092999  170867152  169660376    -6170678
838  2024  12    소상공인  53031  101773064  105830842  106996097  -4640405.5
839  2024  12    종교단체    847    7922631    8361049    8016890   -266338.5

           ECO2_2      GUS  ...       WUS1       WUS2    WCO2_1       WCO2_2  \
837   -6172770.32  4362563  ...    1898794  1939698.4  -60405.2  -181607.796
838  -4640315.356  2544825  ...  1540086.6    1542971   19157.8    57349.338
839     -266338.5   309429  ...      48661      48241      3244         9732

         HUS    HUS1     HUS2 HCO2_1    HCO2_2               REG_DATE
837  1062.62  902.03  1220.91   1.15    3.3315  2025-03-01 04:02:55.0
838      360     395      470  -72.5  -288.695  2025-03-01 04:02:55.0
839        0       0        0      0         0  2025-03-01 04:02:55.0

[3 rows x 25 columns]

In [59]:
df.to_csv('energyUse.csv', index = False, encoding='utf-8')
df.to_json('energyUse.json', orient='records', force_ascii=False)
df.to_excel('energyUse.xlsx', index = False)
df.to_pickle('energyUse.pkl')
df.to_html('energyUse.html')